.vision-mission {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.vision-mission .vision,
.vision-mission .mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vision-mission .vision img,
.vision-mission .mission img {
  width: 30%;
  height: 50%;
  margin-bottom: 1rem;
}

.vision-mission h2 {
  color: rgb(255, 193, 213);
  margin: 0.5rem 0;
}

.vision-mission p {
  color: #555;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 600px;
}
