---
import '../styles/impacto.css'
---

<section class="impact-section">
    <h2>Impacto en términos generales</h2>
    <div class="impact-cards">
      <div class="cards">
        <h3>55 millones</h3>
        <p>de vidas impactadas en 2021</p>
      </div>
      <div class="cards">
        <h3>$5 mil millones</h3>
        <p>de dólares (USD) invertidos en investigación desde 1946</p>
      </div>
      <div class="cards">
        <h3>18 millones</h3>
        <p>de sobrevivientes de cáncer con vida hoy</p>
      </div>
      <div class="cards">
        <h3>Más de 1 millón</h3>
        <p>de pruebas para la detección del cáncer en las comunidades menos atendidas</p>
      </div>
      <div class="cards">
        <h3>490 mil</h3>
        <p>Traslados de pacientes a sus sesiones de tratamiento</p>
      </div>
      <div class="cards">
        <h3>500 mil</h3>
        <p>días de hospedaje sin costo (tratamiento lejos de casa)</p>
      </div>
    </div>
  </section>
  