---
import '../styles/infoCan.css'
---

<section class="informative-section">
    <h2>Cáncer y recursos informativos</h2>
    <p>Uno de cada dos hombres y una de cada tres mujeres, será diagnosticado(a) con cáncer en el transcurso de su vida. Si recientemente usted o alguien a quien conoce ha recibido un diagnóstico con esta enfermedad, contamos con respuestas a sus preguntas, al igual que orientación y apoyo.</p>
    <div class="informative-links">
      <div class="link-box">
        <a href="#">Tener un entendimiento del cáncer &rarr;</a>
      </div>
      <div class="link-box">
        <a href="#">Administre su atención contra el cáncer &rarr;</a>
      </div>
      <div class="link-box">
        <a href="#">Supervivencia &rarr;</a>
      </div>
      <div class="link-box">
        <a href="#">Familia y cuidadores de pacientes &rarr;</a>
      </div>
      <div class="link-box">
        <a href="#">Programas y servicios de apoyo &rarr;</a>
      </div>
    </div>
  </section>
  