---
import '../styles/missionVision.css'
---

<section class="vision-mission">
  <div class="vision">
      <img src="/comunidad.jpg" alt="Visión">
      <h2>Nuestra Visión</h2>
      <p>Ser la plataforma líder en apoyo y comunidad para pacientes con cáncer, ofreciendo un espacio seguro y acogedor donde cada usuario pueda encontrar empatía y motivación en su camino hacia la recuperación.</p>
  </div>
  <div class="mission">
      <img src="/comu.jpg" alt="Misión">
      <h2>Nuestra Misión</h2>
      <p>Proporcionar a los pacientes con cáncer herramientas efectivas y una red de apoyo, facilitando la conexión y el intercambio de experiencias para mejorar la calidad de vida y el bienestar emocional de cada usuario.</p>
  </div>
</section>
