---
import '../styles/prevencion.css'
---
<div class="risk-section">
    <h2>Riesgo, prevención y pruebas de detección</h2>
    <div class="card-container">
      <div class="card-pre card-comi">
        <img src="/sano.avif" alt="Comer sanamente y ser físicamente activos">
        <div class="card-content">
          <h3>Comer sanamente y ser físicamente activos</h3>
          <p>Vea el beneficio que brinda una buena alimentación y el hábito del ejercicio, así como el lograr y mantenerse en un peso saludable.</p>
        </div>
      </div>
      <div class="card-pre card-vph">
        <img src="/vph.jpg" alt="Prevención del VPH">
        <div class="card-content">
          <h3>Prevención del VPH</h3>
          <p>El virus del papiloma humano puede originar seis tipos de cáncer, pero prevenir este virus junto con el riesgo de cáncer que conlleva es sencillo.</p>  
        </div>
      </div>
      <div class="card-pre card-tabaco">
        <img src="/tabaco.webp" alt="Manténgase alejado del tabaco">
        <div class="card-content">
          <h3>Manténgase alejado del tabaco</h3>
          <p>Permita que el evento El Gran Día De No Fumar sea el inicio en su recorrido de una vida libre del humo y del tabaco.</p>
        </div>
      </div>
      <div class="card-pre card-sol">
        <img src="/proteccion-solar.jpg" alt="Protección solar">
        <div class="card-content">
          <h3>Protección solar</h3>
          <p>Utilizar protector solar y ropa adecuada puede reducir significativamente el riesgo de cáncer de piel.</p>
        </div>
      </div>
    </div>
  </div>
  