---
import '../styles/team.css'
---

<section class="team">
    <div class="container">
      <h2>Conoce a Nuestro Equipo</h2>
      <p class="intro">Somos un grupo de estudiantes dedicados al desarrollo de un aplicativo móvil innovador. Este proyecto surge en respuesta a la creciente necesidad de apoyo y conexión entre pacientes con cáncer.</p>
      <p class="description">Nuestro objetivo es crear un espacio seguro y colaborativo donde los usuarios puedan compartir experiencias y recibir apoyo práctico y emocional. Ofrecemos una plataforma para compartir vivencias, recomendar prácticas y fomentar un sentido de comunidad entre los usuarios. Además, incluimos funcionalidades como la organización de webinars para empoderar a pacientes y cuidadores con recursos útiles.</p>
      <p class="note">Este informe detalla el proceso de desarrollo del aplicativo, desde su conceptualización hasta su implementación, destacando las tecnologías utilizadas, los logros alcanzados y las perspectivas futuras. Esperamos que esta plataforma mejore la calidad de vida de sus usuarios y sirva como modelo inspirador para iniciativas similares en el ámbito de la salud digital y el bienestar comunitario.</p>
    </div>
  </section>
  