---
import MissionVision from "../MissionVision.astro"
import '/src/styles/missionVision.css';
---
<section class="mission-vision">
  <div class="text-container">
    <MissionVision
      title="Misión"
      description="Nuestra misión es proporcionar un apoyo integral y accesible a las personas afectadas por el cáncer, facilitando el acceso a información de calidad, recursos educativos y una comunidad solidaria. Nos esforzamos por empoderar a los pacientes y sus familias, promoviendo el bienestar físico, emocional y mental a través de nuestra innovadora plataforma y colaboraciones con profesionales de la salud y organizaciones aliadas."
    />
    <MissionVision
      title="Visión"
      description="Nuestra visión es ser la plataforma líder en el apoyo contra el cáncer, reconocida por su compromiso con la excelencia y la compasión. Aspiramos a crear un mundo donde cada persona afectada por el cáncer tenga acceso a los recursos necesarios para enfrentar su diagnóstico con esperanza y dignidad, y donde las comunidades trabajen juntas para fomentar la prevención y la investigación, avanzando hacia un futuro sin cáncer."
    />
  </div>
  <div class="image-container-mission">
    <img src="/public/mision.jpeg" alt="Misión y Visión" />
  </div>
</section>