---

import Card from "../Card.astro"
import '/src/styles/cards/cards.css'
---

<section class="info-cards">
	<div class="container">
	  <Card
		imageSrc="/public/cards/temas.jpeg"
		title="Temas que se tocan"
		description="Se tocan temas de diferentes tipos de cáncer, en los que por medio de la comunidad se podrá abordar estos temas dando información desde experiencias propias."
	  />
	  <Card
		imageSrc="/public/cards/diagnostico.jpeg"
		title="Medios de diagnóstico"
		description="Brindamos servicios como información sobre tratamientos, seguimiento de síntomas, acceso a recursos de apoyo por medio de una comunidad de personas con casos diferentes."
	  />
	  <Card
		imageSrc="/public/cards/servicios.jpeg"
		title="Servicios de apoyo por especialistas"
		description="Se contará con el apoyo de especialistas que brindarán apoyo con información sobre la medicación adecuada o algunos hábitos a seguir."
	  />
	</div>
</section>